@page "/currencies"
@rendermode InteractiveServer
@using Wealth.BuildingBlocks.Application
@using Wealth.CurrencyManagement.Application.Currencies.Queries
@inject ICqrsInvoker cqrsInvoker
<PageTitle>Currencies</PageTitle>

<h1>Currencies</h1>
<ErrorModal @bind-Show="showErrorModal" @bind-Message="errorMessage" OnClose="() => showErrorModal = false"/>

@if (currencies == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>CurrencyId</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var currency in currencies)
        {
            <tr>
                <td>@currency.Currency</td>
                <td>@currency.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private bool showErrorModal = false;
    private string errorMessage = string.Empty;
    private IEnumerable<CurrencyDTO>? currencies;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCurrencies();
        }
    }

    private async Task LoadCurrencies()
    {
        currencies = await cqrsInvoker.Query(new GetCurrenciesQuery());
        StateHasChanged();
    }
}

