[*.cs]

# CS8618: Non nullable field _name is not initialized. Consider declare the field as nullable type
# dotnet_diagnostic.cs8618.severity = none

# resharper_arrange_type_member_modifiers_highlighting = none
# resharper_inconsistent_naming_highlighting = none
# resharper_unused_member_local_highlighting = none
