<select class="form-control" id="@Id" @onchange="HandleChange" value="@SelectedCurrency" >
    @if (Currencies != null)
    {
        @foreach (var currency in Currencies)
        {
            <option value="@currency">@currency</option>
        }
    }
    else
    {
        <option value="">Loading currencies...</option>
    }
</select>

@code {

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string SelectedCurrency { get; set; } = "";

    [Parameter]
    public EventCallback<string> SelectedCurrencyChanged { get; set; }

    [Parameter]
    public IEnumerable<string>? Currencies { get; set; }
    
    private async Task HandleChange(ChangeEventArgs e)
    {
        SelectedCurrency = e.Value?.ToString() ?? "";
        await SelectedCurrencyChanged.InvokeAsync(SelectedCurrency);
    }
}