# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --logger trx --collect:"XPlat Code Coverage"

      - uses: bibipkins/dotnet-test-reporter@v1.5.4
        if: always()
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-title: "Test Results"
          results-path: '**/TestResults/**/*.trx'
          coverage-path: '**/TestResults/**/coverage.cobertura.xml'
          coverage-type: cobertura